# packaging
setuptools==41.0.0
wheel==0.32.3
basis_set_exchange
click
# git from conda


# production requirements
numpy>=1.18.1
pandas>=1.0.3
scikit-learn==0.21.3
keras== 2.3.1  # has error with Flask threads
# keras==2.2.5
# keras @ git+https://github.com/keras-team/keras.git@master#egg=keras
tensorflow==2.1.2
# qcelemental==0.13.1
pydantic==1.4

# plotly

# latest dev master
qcelemental @ git+https://github.com/MolSSI/QCElemental.git@master#egg=qcelemental

# testing requirements
pytest>=4.6.6
